# Gradle
.gradle/
build/
out/
classes/
!gradle-wrapper.jar
!gradle-wrapper.properties

# IDE - IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# IDE - Eclipse
.settings/
.classpath
.project
*.launch
bin/

# IDE - VS Code
.vscode/

# macOS
.DS_Store
._*

# Fabric
run/
libs/

# Java
*.class
*.jar
*.log
hs_err_*.log
replay_*.log
*.hprof
*.jfr

# Git
*.orig
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*

# Obsidian
.obsidian/